POSTGRES_DB=tododb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
SECRET_KEY=4808169784e2a76454ff74699ed13a1f53e2c713f196f6b01c20a60f21e4d5a9